body {
    
}


#img {
    width: 1423px;
    height: 1364px;
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.navbar {
    list-style-type: none;
    display: inline;
    list-style-type: none;
    display: inline;
    /* margin-left: -420px; */
    /* padding-left: 426px; */
    padding-right: 39px;
    position: relative;
    left: 407px;
    top: 81px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: blue;
}

#imgu {
    /* margin: auto; */
    position: relative;
    left: 366px;
    top: 86px;
    border: 12px solid white;
    width: 673px;
    height: 328px;
}

#si {
    width: 696px;
    height: 848px;
    background: white;
    position: absolute;
    top: 500px;
    left: 375px;
}

#sii {
    width: 608px;
    
    height: 799px;
    position: relative;
    top: 10px;
    left: 8px;
}

#sii img {
    width: 680px;
    height: 835px;
    /* top: 36px; */
    margin-top: -2px;
}

#sii h3 {
    width: 608px;
    position: relative;
    top: -849px;
    left: 13px;
    /* font-family: arial; */
}

#sii p {
    width: 570px;
    position: relative;
    top: -858px;
    left: 12px;
    line-height: 21px;
    text-align: justify;
}

#footer {
    position: relative;
    top: -857px;
    left: 238px;
}

#footer img {
    position: relative;
    top: 59px;
    left: -246px;
    width: 696px;
    height: 12px;
}

#footer a {
    color: purple;
    
}
#footer a:hover {
    text-decoration: none;
    color: black;
}